<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">
        <h2>All articles with category {{ page.category }}</h2>

        {% for p in site.pages %}
          {% if p.categories contains page.category  %}
            <li>
              <a href="{{ p.url }}">{{ p.title }}</a> has categories:
              {% for c in p.categories  %} {{ c }} {% endfor %}
            </li>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
